@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


body {
  font-family: 'Raleway';
}

.mainpage {
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  object-fit: cover;
}

.btn-blue {
  background-color: #00dbfe;
  color: #fff;
  border: none;
  padding: 5px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.btn-blue:hover {
  background-color: #00c5e7;
}

.table__body {
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;
  margin: .8rem auto;
  border-radius: .4rem;
  overflow: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

table {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #f8fafc;
  cursor: pointer;
  text-transform: capitalize;
  color: #9da8af;
}


tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
  border-bottom: 1px solid #cecece
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: rgba(206, 206, 206, 0.493) !important;
}


tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out .5s;
}

.status {
  border-radius: 2rem;
  text-align: center;
  padding: .4rem 0;
  margin-bottom: 0;
  font-weight: bold;
}


/*<!--ESTILOS PARA TARIFARIO-->*/
.deleted-row {
  background-color: #8f8c8c;
  color: #f2f2f2;
}

.admin-row {
  background-color: red;
  color: #f2f2f2;
}

/*<!--ESTILOS PARA MiPerfil-->*/

.img-account-profile {
  height: 10rem;
}

.rounded-circle {
  border-radius: 50% !important;
}

.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.card .card-header {
  font-weight: 500;
}

.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.card-body {
  height: 330px;
}

.form-control,
.dataTable-input {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
  color: #0061f2;
  border-bottom-color: #0061f2;
}

.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

input[type="file"]::before {
  content: none !important;
}

#custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}