.navigation {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 18%;
  min-height: 100vh;
  color: white;
  background-color: #002f4d;
  padding: 5px 10px;
}

.navigation.active {
  width: max-content;
}

.navigation .menu {
  position: absolute;
  right: 10px;
  top: 0;
  margin-left: auto;
  font-size: 20px;
  height: 35px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}

.navigation.active .menu {
  position: relative;
}

.navigation .menu.active {
  rotate: 180deg;
}

.navigation header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 25px 0 15px;
  background-color: rgba(255, 255, 255, 0.377);
  border-radius: 14px;
  margin-bottom: 10px;
}

.navigation header::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 88%;
  background-color: white;
  bottom: 0;
}

.navigation.active header {
  padding: 0;
  margin-top: 10px;
  background-color: transparent;
}

.navigation.active header::after,
.navigation.active header span {
  display: none;
}

.navigation header .profile {
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: lightgray;
}

.profile-img {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 40%;
  object-fit: cover;
}

.navigation.active header .profile {
  height: 40px;
}

.navigation header span {
  font-size: 15;
}

/* Estilo Sidebar */
.sidebar-title span i {
  display: inline-block;
  width: 1.5em;
}

.sidebar-title .nav {
  cursor: default !important;
  pointer-events: none !important;
}

.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn {
  transform: rotate(180deg);
}
.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content {
  height: auto;
  background-color:#011e30;
}

.sidebar-item.plain {
  color: #fff;
  text-decoration: none;
}
.sidebar-item.plain:hover {
  text-decoration: underline;
}
.sidebar-item.plain i {
  display: inline-block;
  width: 1.7em;
}